body {
  background-color: #dbdbdb:
}

header {
  height: 70px;
  flex: 0 0 auto;
  background-color: #000;
  color: #FFF;
}

#content {
  background-color: #F2F2F2;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.configContainer{
  width:100%;
}

.config {
  padding-right: 20px;
}

.code-grabber {
  height:500px;
}

.cardContainer {

}

.text-area {
  height: 400px;
}

.cardWrapper {
  margin: 0 auto;
  padding-bottom:30px;
}

.colorPicker {
  width: 90%;
  height: 40px;
}