<div class='row'>
    <div class="col s12 center">
        <h3>Material Horizontal Floating Action Button</h3>
    </div>
</div>


<!--DYNAMIC HORIZONTAL FAB-->
<div class="cardWrapper">

  <div class="horizontal click-to-toggle">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>

</div>

<!-- CONFIGURATOR -->

<div class="row configContainer">
    <div class="config col s6">
      <form>
        <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" placeholder='Card Title' ng-init="data.title='Test'" ng-model='data.title'></input><label class="active" for='data.title'>Card Title</label>
            </div>
            <div class="input-field col s6">
                <input id="width" type="number" min="300" max="1200" step="10" ng-model='data.width' ng-init='data.width=500'></input><label class="active" for='width'>Width (px, min: 300)</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="titleColor" type="color" placeholder='Title Color' ng-init="data.titleColor='#FFFFFF'" ng-model='data.titleColor'></input><label class="active" for='titleColor'>Title Color</label>
            </div>
            <div class="input-field col s6">
              <input id="contentBg" type="color" ng-init="data.contentBg='#2196F3'" ng-model='data.contentBg'></input><label class="active" for='height'>Content Background Color</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="textcolor" type="color" ng-init="data.textcolor='#000000'" ng-model='data.textcolor'></input><label class="active" for='height'>Text Color</label>
          </div>
          <div class="input-field col s6">
              <input id="footerBg" type="color" ng-init="data.footerBg='#FFFFFF'" ng-model='data.footerBg'></input><label class="active" for='footerBg'>Footer Background Color</label>
          </div>
        </div>

        <button ng-click='simpleCardIpsum()' class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add more ipsum</a></button>
        <button type='submit' ng-click='simpleCardSubmit(data.title, data.width, data.titleColor, data.contentBg, data.textcolor, data.footerBg)' class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Save to account</a></button>

      </form>
    </div>
    <div class="code-grabber col s6">
          <textarea rows="10" cols="20" class="text-area">
<div class="card" style="width: {{width}}px; background-color: {{contentBg}}; color: {{textcolor}}">
  <div class="card-content">
    <span class="card-title">{{title}}</span>
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action" style="{{footerBg}}">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
</div>
          </textarea>
    </div>
</div>

<div>

</div>
